:root {
  --kanji-color: blue;
  --furigana-color: red;
}

.furigana-toggle rp, .furigana-toggle rt {
  visibility: hidden !important;
}

.furigana-toggle-hover ruby:hover rt, .furigana-toggle-hover ruby:hover rp {
  visibility: visible !important;
}

.furigana-toggle-color rp, .furigana-toggle-color rt {
  color: red !important;
  color: var(--furigana-color) !important;
}

.furigana-toggle-color ruby, .furigana-toggle-color rb {
  color: blue !important;
  color: var(--kanji-color) !important;
}
